/**
 * modules/mixins
 * ---
 */


@mixin reset-box {
  padding: 0;
  margin: 0;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px; }
  100%  {opacity: 1; margin-left: 0px; }
}

// media queries - borrowed from https://itnext.io/writing-media-queries-with-sass-mixins-3ea591ea3ea4
// @mixin mobile {
//   @media (min-width: 500px) { @content; }
// }
// @mixin small {
//   @media (min-width: 800px) { @content; }
// }
@mixin large {
  @media (min-width: 800px) { @content; }
}

// usage:
// @include large {
//   things: here;
// }

