/**
 * modules/variables
 * ---
 */

:root {


    /**
 * Typography
 */
 --font-family-base: 'proxima_novaregular', Arial, "Open Sans", sans-serif;

--font-size-base: 18px;
--line-height-base: 1.4;




/**
 * Colors
 */
    // default scheme
    --text-color: #4E4B57;
    --background-color: #FFFEF6;

    --link-color: #8CBCC5;

    --link-hover-color: #222;
    --logo-stroke: var(--link-color);

    --primary-a: #E9E4A4;
    --primary-b: #8CBCC5;

    --selection-bg: var(--primary-a);







/**
 * Grid
 */



    --wrapper-width: 1580px;


    --padding-horizontal-base: 3%;
    --padding-vertical-base: 0.5rem;
    --margin-horizontal-base: 3%;
    --margin-vertical-base: 0.5rem;
    --margin-horizontal-large: 3rem;
    --margin-vertical-large: 1rem;
}










.scheme-01 {
    //--text-color: red;
    --background-color: #607C88;
    --text-color: #E3DCCD;
    --link-color: #E2B098;
}


.scheme-02 {
    --text-color: #E3DCCD;
    --background-color: #4E4B57;
    --link-color: #E9E4A4;
}

.scheme-03 {
    --text-color: #4E4B57;
    --background-color: #E3DCCD;
    --link-color: #E9E4A4;
}

.scheme-04 {
    --text-color: #4E4B57;
    --background-color: #8CBCC5;
    --link-color: #E9E4A4;
}


