/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 18px;
$line-height-base: 1.5;


/**
 * Colors
 */

//$text-color: #444;
//$body-bg: #fff;
$selection-bg: #04A4CC;



$link-color: #f00;
$link-hover-color: #444;

:root {
    // default scheme
    --text-color: #4E4B57;
    --background-color: #FFFEF6;

    --link-color: #8CBCC5;
    --logo-stroke: var(--link-color);

    --primary-a: #E9E4A4;
    --primary-b: #8CBCC5;
}

.scheme-01 {
    //--text-color: red;
    --background-color: #607C88;
    --text-color: #E3DCCD;
    --link-color: #E2B098;
}


.scheme-02 {
    --text-color: #E3DCCD;
    --background-color: #4E4B57;
    --link-color: #E9E4A4;
}

.scheme-03 {
    --text-color: #4E4B57;
    --background-color: #E3DCCD;
    --link-color: #E9E4A4;
}

.scheme-04 {
    --text-color: #4E4B57;
    --background-color: #8CBCC5;
    --link-color: #E9E4A4;
}





/**
 * Grid
 */



$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;