/**
 * partials/header
 * ---
 */

// Header container
.header {
  .inner {
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    @include large {
      display: grid;
      grid-template-columns: 60% 15%;
      grid-gap: 20%;
      align-items: center;
    }

    .logo {
      padding: var(--margin-horizontal-large) 0;

      svg {
        max-width: 80%; // same as .logo
        height: auto;
        display: block;
        margin: 0 auto;

        @include large {
          margin: unset;
          max-width: 100%;
        }
      }
  
    }
  }

  @include large {
    // position: sticky;
    // top: 0;
    // z-index: 100;
    // background-color: var(--background-color);
  }
}

// Logo
.logo {
}

.logo-img {
}
