/**
 * partials/wrapper
 * ---
 */

.inner {
  max-width: var(--wrapper-width);
  padding: 0 var(--padding-horizontal-base);
  margin: 0 auto;
  position: relative;
}



.grid-halves {
  display: grid;

  @include large {
    grid-template-columns: 1fr 1fr;
    //max-width: 100%;
  }

  .post-wrapper {
    border: 1px solid #222;
    background-color: var(--background-color);
    color: var(--text-color);
    display: block;
    height: 100%;

    &:hover {
      text-decoration: none;
      color: var(--background-color);
      background-color: var(--text-color);
      border-color: var(--text-color);

      .client-tags li  {
        border-color: var(--background-color);
      }
    }
  }
}


// blocks on posts (client) page

.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.grid-block {
  min-height: 200px;
  padding: 0 var(--padding-horizontal-base);
  grid-column: span 2;
  background-color: var(--background-color);
  color: var(--text-color);
}

.grid-block-Half-width {
  // width: 50%;
  // display: inline-grid;
  // align-items: center;
  grid-column: span 1;
}




// primarily for the services table on the about page
.expandable-table {
  outline:none;
}

.expandable-item {

  transition: var(--transition-time);


  &[open] {
    //background: red;

    summary ~ * {
      animation: sweep .5s ease-in-out;
    }
  }
}

.expandable-header {
  list-style: none;
  outline:none;
  cursor: pointer;
  font-size: var(--heading-medium);
  padding: var(--padding-vertical-base) 0;
  

  &::-webkit-details-marker {
    display: none;
  }
}

.expandable-content {

}