/**
 * partials/wrapper
 * ---
 */


.inner {
  max-width: $wrapper-width;
  padding: 0 $margin-horizontal-large;
  margin: 0 auto;
  position: relative;
}


.grid-halves {
  display: grid;

  @include large {
    grid-template-columns: 1fr 1fr;

    .post {
      border: 1px solid #222;
    }
  }

  
}