// for posts pages

article.post {
    
}

.post-link {
   

    &:hover {
       
    }

}

.client-tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: var(--padding-vertical-base) 0;

    .tagged {
        color: var(--text-color);
        background-color: var(--link-color);
        border-radius: 1rem;
        padding: var(--padding-vertical-base);
        margin: 0 var(--margin-vertical-base) var(--margin-vertical-base) 0;
        display: block;

        @include large {

        }
    }
}