// for posts pages

article.post {
    
}

.post-link {
   

    &:hover {
       
    }

}

.client-tags {
    list-style: none;
    display: flex;
    padding: var(--padding-vertical-base) 0;

    li {
        border: 1px solid var(--text-color);
        padding: var(--padding-vertical-base);
        margin-right: var(--margin-vertical-base);
    }
}