/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */


.sticky {}

.bypostauthor {}

/**
 * Alignment
 */

.alignnone {
  margin: var(--margin-vertical-base) var(--margin-horizontal-large) var(--margin-vertical-large) 0;
}

.aligncenter {
  display: block;
  margin: var(--margin-vertical-base) auto;
}

.alignright {
  float: right;
  margin: var(--margin-vertical-base) 0 var(--margin-vertical-large) var(--margin-horizontal-large);
}

.alignleft {
  float: left;
  margin: var(--margin-vertical-base) var(--margin-horizontal-large) var(--margin-vertical-large) 0;
}


/**
 * Gallery & images
 */

.wp-caption {
  background: var(--background-color);
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: var(--padding-horizontal-base) var(--padding-vertical-base);
  text-align: center;

  & img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;

    @include reset-box;
  }
}

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 var(--padding-horizontal-base) var(--padding-vertical-base);
  font-size: var(font-size-base);
  line-height: var(line-height-base);
}
